APP_NAME="Sistem Pengurusan Kenderaan & Pemandu - UPF"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Kuala_Lumpur
APP_URL=https://sistem-kenderaan.onrender.com

APP_LOCALE=ms
APP_FALLBACK_LOCALE=en

# Database Configuration (Neon PostgreSQL)
# Format DATABASE_URL: postgresql://[user]:[password]@[endpoint].neon.tech/[database]?sslmode=require
DB_CONNECTION=pgsql
DATABASE_URL=
DB_SSLMODE=require

# Session, Cache & Queue
SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=sync

# Storage
FILESYSTEM_DISK=public

# Mail
MAIL_MAILER=log
MAIL_FROM_ADDRESS="upf@akademisains.gov.my"
MAIL_FROM_NAME="UPF Akademi Sains Malaysia"
